# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

gameProject/gameProject/Debug/
gameProject/Debug/gameProject.exe
gameProject/Debug/gameProject.ilk
gameProject/Debug/gameProject.pdb
